{% if LINKS %}
  {% from 'includes/sidebar/macros.jinja' import title %}

<!-- Sidebar/Links -->
<li class="list-group-item">
  <h4>
      <i class="fa fa-link" aria-hidden="true"></i>
      {{ title(_('Links'), DISABLE_SIDEBAR_TITLE_ICONS, icon='external-link-square') }}
  </h4>
  <ul class="list-group" id="links">
      {% for icon, name, link in LINKS %}
          <li class="list-group-item"><a href="{{ link }}"><i class="fa fa-{{ icon }}"></i> {{ name }}</a></li>
      {% endfor %}
  </ul>
</li>
<!-- End Sidebar/Links -->
{% endif %}
