{% macro translations_for(article) %}
{% if article.translations %}
<span class="label label-default">{{ _('Lang') }}</span>
{% for translation in article.translations %}
	{% if translation.lang == ROOT_LANG %}
	<a href="/{{ translation.url[6:] }}">{{ translation.lang }}</a>
	{% else %}
	<a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang }}</a>
	{% endif %}
{% endfor %}
{% endif %}
{% endmacro %}
